# Ignore node_modules directory
client/node_modules/
server/node_modules/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore build directories
client/build/
client/dist/
client/.env
server/.env

# Ignore log files
*.log